* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.appwrap {
  height: 100vh;
  transition: 0.5s ease;
  width: 100vw;
  position: relative;
  z-index: 1;
}

/* Toggle class to prevent scroll when sidebar is active */
.hideScroll {
  overflow: hidden;
}

/* Toggling class to change background when sidebar appears */
.appwrapBGchange {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s ease;
}

/* Header  */

.mainHeader {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  flex-wrap: wrap;
}

.logo {
  letter-spacing: 10px;
  font-size: 40px;
  color: #7634b8;
  font-family: "Readex Pro", sans-serif;
  text-decoration: none;
}

span {
  color: #9e97a5;
}

.navlinks {
  text-decoration: none;
  color: #565656;
  font-size: 25px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: 0.5s ease;
}

.navlinks:hover {
  background-color: #cfcfcf;
  transition: 0.5s ease;
}

#shareBtn {
  border: 3px solid #7634b8;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  width: 100px;
  background: none;
  cursor: pointer;
  transition: 0.5s ease;
}

#shareBtn:hover {
  background-color: #7634b8;
  color: white;
  transition: 0.5s ease;
}
#shareBtn a {
  text-decoration: none;
}

/* #shareBtn a:hover {
  color: white;
  transition: 0.5s ease;
} */

#hamMenu {
  display: none;
  background: none;
  border-width: 0;
}

#hamMenu i {
  font-size: 30px;
}

@media screen and (max-width: 879px) {
  .navlinks {
    font-size: 20px;
  }

  .logo {
    font-size: 35px;
  }
}

@media screen and (max-width: 635px) {
  #hamMenu {
    display: block;
  }

  .logo {
    font-size: 25px;
  }

  .navlinks,
  #shareBtn {
    display: none;
  }

  .showSidebarLinks {
    display: block;
  }
}

/* Sidebar  */

.sidebar {
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.logoContainer {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4vh auto;
}

.logoContainer h1 {
  font-size: 20px;
}

.sidebar nav {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar nav a {
  margin-bottom: 30px;
}

/* This is share button with exact same properties just put under another class */
.asideShare {
  border: 3px solid #7634b8;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  width: 100px;
  background: none;
  cursor: pointer;
  transition: 0.5s ease;
  margin-bottom: 50px;
}

.asideShare:hover {
  background-color: #7634b8;
  transition: 0.5s ease;
  color: white;
}

.asideShare a {
  color: black;
  /* transition: 0.5s ease; */
}

/* .asideShare a:hover {
  color: white;
  transition: 0.5s ease;
} */

#close {
  background: none;
  outline: none;
  border-width: 0;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.sidebar {
  transform: translateX(-100%);
  transition: ease 1s;
}

/* JS class to make it appear onclick of button */
.show {
  transform: translateX(0);
  transition: ease 1s;
}

/* Main Section  */

.container {
  width: 100vw;
  height: 86vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.card {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  scroll-snap-align: start;
}

.card:nth-child(1) {
  background-color: #d9d7f1;
}

.card:nth-child(2) {
  background-color: #fffdde;
}
.card:nth-child(3) {
  background-color: #e7fbbe;
}

.first {
  height: 86vh;
}

.textHolder {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.textHolder > * {
  margin: 15px;
}

.textHolder h1 {
  font-size: 50px;
  color: rgb(74, 71, 255);
}

.textHolder h2 {
  font-size: 25px;
  color: #565656;
}

.textHolder p {
  font-size: 20px;
}

.card img {
  width: 20%;
  height: auto;
}

.visitBtn {
  color: white;
  cursor: pointer;
  width: 200px;
  padding: 10px 15px;
  border-width: 0;
  border: none;
  outline: none;
  background: linear-gradient(92.31deg, #b83434 3.9%, #0f00ff 111.54%);
  border-radius: 10px;
  font-size: 20px;
  background-size: 200% auto;
}

.instruction {
  word-spacing: 6px;
}

@media screen and (max-width: 978px) {
  .textHolder h1 {
    font-size: 40px;
  }

  .textHolder p {
    font-size: 15px;
  }

  .textHolder {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .card {
    flex-direction: column;
    justify-content: start;
  }

  .card img {
    margin-top: 40px;
    width: 30%;
  }

  .textHolder {
    width: 90%;
  }

  .textHolder > * {
    margin: 10px 0px;
  }

  .textHolder h1 {
    font-size: 30px;
  }

  .textHolder h2 {
    font-size: 20px;
  }

  .textHolder p {
    font-size: 15px;
  }

  .visitBtn {
    width: 150px;
  }
}

::-webkit-scroll {
  display: none;
}
